config/database.php
config/core.php
tmp/cache/*
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/tests/*
tmp/sessions/*
tmp/logs/*
plugins/*
webroot/files/**/*
webroot/img/catalog/*
webroot/img/catalog/s/*
webroot/img/catalog/b/*
webroot/img/gallery/*
webroot/img/banner/*
webroot/img/upload_pic/*
webroot/img/gallery/s/*
webroot/img/gallery/b/*
webroot/js/fck/*
webroot/js/ckeditor/*
!empty
!.gitignore
*~
