
/**
 * Admin classes
 *
 */
.menuup {
	color: red;
}
.mainAdminPage {
	border: 1px solid;
	padding: 10px;
	margin-right: 150px;
}

.admin {
	margin: 10px auto;
	padding: 5px ;
	font-size: 22px;
	font-weight: bold;
}
.username {
	margin: 5px 0 10px 25px;
	float: left;
}
.logout {
	color: #777;
	padding: 6px 0 0 0;
	margin: 0 0 0 180px;
}

.userZone {
	position: absolute;
	top: 25px;
	left: 20px;
	font-weight: bold;

}

.userZone a{
	color: black;
	font-size: 20px;
	font-style: arial;	
}
.thumb_admin {
	float: left;
	width: 175px;
}