/**
 * Admin classes
 *
 */

.mainAdminPage {
	border: 1px solid;
	padding: 10px;
}

div.header {
	padding: 10px 0;
	border-bottom:1px solid silver;
}
.header h3 {
	margin:10px 0 0 70px;
}
.mainMenu {
	border-bottom: 1px solid silver;
}
.mainMenu a {
	display:block;
	float:left;
	font-weight:bold;
	padding:0.5em 1em;
	text-decoration:none;
}
.mainMenu a.logout{
	float:right;
	color:#000;
}
a.menu {
	color:#000;
}
a.menu:hover {
		background:	transparent url(../img/icons/4x4_999.gif) repeat-x scroll left bottom;
	}
a.menuActive {
	color: #911B3B;
}
a.menuActive:hover {
	color: #911B3B;
	background:	transparent url(../img/icons/4x4_cb94a3.gif) repeat-x scroll left bottom;
}
a.logout:hover{
		background:	transparent url(../img/icons/4x4_ff6f6f.gif) repeat-x scroll left bottom;
		color:#E10000;
}
.actions h3 {
	margin-left: 0.3em;
}
.actions a{
	color:#000;
}
.actions a:hover{
	color:#911B3B;
}
.username {
	margin: 0px;
	font-weight:bold;
}
div.footer {
	border-top: 1px solid silver;
	margin:5px 0;
	padding: 5px 0 0 0;
}
div.footer a{
	color:#000;
}
div.footer a:hover{
	color:gray;
	text-decoration:none;
}
.logout4 {
	color: #777;
	padding: 6px 0 0 0;
	margin: 0 0 0 180px;
}

.userZone {
	background:url(../img/fon.jpg) repeat #9AE4E8;
	border:2px solid silver;
	font-weight:bold;
	text-align:center;
}

.userZone a{
	color: #911B3B;
	font-size: 20px;
}
.userZone a:hover{
	text-decoration:none;
}
/*album*/
.thumbAdmin {
	background-color:#F3F3F3;
	margin-bottom:1em;
	padding:6px 0;
	position:relative;
	z-index:-1;
}
.thumbAdmin .lens{
	top:85px;
	left:105px;
}
.thumbAdmin img.thumbImg {
	background:transparent url(../img/shadow2.png) no-repeat scroll 0 0;
	padding:2px 5px 5px 0;
	text-align:center;
}
#albumAddForm{
	position:absolute;
	top:0px;
	left:5px;
	z-index:10;
}
.albumAdd {
	background-color:#eee;
	display:none;
}
.albumAddFormWrapper{
	padding:10px 0 10px 20px;
	border-top:2px solid silver;
	border:2px solid silver;
}
.test{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}


div.fancy_bg_n {
background:transparent url(../img/fancybox/fancy_shadow_n.png) repeat-x scroll 0 0;
height:18px;
top:-18px;
width:100%;
}

div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_ne {
background:transparent url(../img/fancybox/fancy_shadow_ne.png) no-repeat scroll 0 0;
height:18px;
right:-13px;
top:-18px;
width:13px;
}

div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_e {
background:transparent url(../img/fancybox/fancy_shadow_e.png) repeat-y scroll 0 0;
height:100%;
right:-13px;
width:13px;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_se {
background:transparent url(../img/fancybox/fancy_shadow_se.png) no-repeat scroll 0 0;
bottom:-18px;
height:18px;
right:-13px;
width:13px;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_s {
background:transparent url(../img/fancybox/fancy_shadow_s.png) repeat-x scroll 0 0;
bottom:-18px;
height:18px;
width:100%;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_sw {
background:transparent url(../img/fancybox/fancy_shadow_sw.png) no-repeat scroll 0 0;
bottom:-18px;
height:18px;
left:-13px;
width:13px;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_w {
background:transparent url(../img/fancybox/fancy_shadow_w.png) repeat-y scroll 0 0;
height:100%;
left:-13px;
width:13px;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}
div.fancy_bg_nw {
background:transparent url(../img/fancybox/fancy_shadow_nw.png) no-repeat scroll 0 0;
height:18px;
left:-13px;
top:-18px;
width:13px;
}
div.fancy_bg {
border:0 none;
display:block;
margin:0;
padding:0;
position:absolute;
z-index:70;
}


#AlbumName {
	margin: 0 0 1em;
	}
/*flash message*/
#flashMessage {
	position:absolute;
	width: 950px;
	background-color:#eee;
	margin:0px;
	font-weight:bold;
	font-size: 17pt;
	line-height:2.5em;
	text-align:center;
	overflow: hidden;
	height:0;
	z-index:100;
	left:0;
	top:86px;
	border-bottom:1px solid #CCCCCC;
}
div.er {
	color:red;
}
.fl {
	height:0%;
	z-index:100;
}

/*paginator classes*/
.page {
	text-align: right;
}
.page div.menuPage {
	display:inline;
	font-weight: normal;
}
.page a {
	text-decoration: none;
}
.page, .page a, .page span a {
	color: #464646;
	font-weight: bold;
}
.page span a:hover {
	color: #000;
}
.page span.current {
	color: #999;
	font-weight: bold;
}
.page img {
	margin: -3px 2px;
}
/*
 * Product style
 */

.step h3 {
	float:left;
}
.stepSpace {
	padding: 10px;
}
.setWrapper {
	text-align:center;
	line-height:2em;
}
.span- {
	float:left;
	margin-left:1em;
}
.setItem {
	font-size: 90%;
	color:gray;
	font-weight:bold;
	line-height:0.8em;
	margin-top:0em;
}
/* brand*/
.brand {
	/*border:1px solid silver;*/
	padding:0 5px;
	margin-bottom:1em;
	float:left;
	width:148px;
	position:relative;
}

.lens {
	left:130px;
	position:absolute;
	top:55px;
}
/* category */
.categories {
	text-align:left;
	/*border: 2px solid silver;*/
	color:#911B3B;
	padding: 5px;
	font-size:12pt;
	line-height:27px;
	/*background:#9AE4E8 url(../img/fon.jpg) repeat scroll 0 0;*/
}
.categories li {
	display:inline;
}
.categories li a {
	color:#911B3B;
	text-decoration:none;
}
.categories li a:hover {
	color:#000;
}
.catSelected {
	color:maroon;
	font-size:larger;
	font-weight:bold;	
}
.brandSelected {
	color:royalBlue;
	font-size:larger;
	font-weight:bold;	
}
.currentCat{
	font-size:85%;
	cursor:default;
}
.categories li a.currentCat {
	color:teal;
}
.currentSubCat{
	font-size:85%;
	cursor:default;
}
/*subCategory*/
.subCategoryWrapper {
	padding-bottom:1em;
	border-bottom:1px solid silver;
}
.subCategories li a.currentSubCat {
	color:red;
}
.subCatSelected {
	color:green;
	font-size:larger;
	font-weight:bold;	
}
.setWrapperQuick {
	text-align:center;
	line-height:1.5em;
	padding:6px 0;
}


.quickGoImg{
	display:none;
}
.quickCat, .quickBrand,.quickSubCat {
	font-weight:bold;
	color:silver;
}
.act {
	background-color:#eee;
}
.act .quickSubCat {	
	color:green;	
}
.act .quickGoImgHide {
	/*display:block;*/
}
.act .quickCat {
	color:maroon;	
}
.act .quickBrand {
	color:royalBlue;	
}
.quickGo {
	margin-top:4px;
}
.act .quickGo {
	background-color:silver;
}
.brandShadow {
	background:transparent url(../img/127x70.png) no-repeat scroll 0 0;
	padding:2px 5px 5px 0;
	text-align:center;
}

.activeStep a,.activeStep a:hover{
	
}
.activeStep img{
	/*margin:-10px;*/
}
.nextStep a{
	color:silver;
	text-decoration:underline;
}
.prevStep a{
	color:silver;
	text-decoration:underline;
}
.disableStep a,.disableStep a:hover,.disableStep a:visited,.disableStep a:active{
	color:silver;
	text-decoration:none;
	cursor:default;
}

#allBrandsWrapper{
	border-top:1px solid silver;
	padding-top:.5em;
}
#stepIcon1 {
	background:transparent url(../img/icons/steps.jpg) no-repeat scroll 0 0px;
}
#stepIcon2 {
	background:transparent url(../img/icons/steps.jpg) no-repeat scroll 20px 0px;
}
#stepIcon3 {
	background:transparent url(../img/icons/steps.jpg) no-repeat scroll 40px 0px;
}

.stepIcon{
	width:20px;
	height:20px;
	margin:0 auto;
}
.activeStep div#stepIcon1{
	background-position: 0 -40px;
}
.activeStep div#stepIcon2{
	background-position: -20px -40px;
}
.activeStep div#stepIcon3 {
	background-position: -40px -40px;
}
.prevStep div#stepIcon1{
	background-position: 0 -20px;
}
.prevStep div#stepIcon2,.prevStep div#stepIcon3 {
	background-position: -20px -20px;
}
.nextStep div#stepIcon2,.nextStep div#stepIcon3 {
	background-position: 0 -40px;	
}
.disableStep div#stepIcon2 {
	background-position: -20px -20px;
}
.disableStep div#stepIcon3 {
	background-position: -40px -20px;	
}
.moveCat {
	cursor:move;
	height:24px;
	width:24px;
	background:transparent url(../img/icons/move_light.png) no-repeat scroll 0 0px;
}
.bg{
	background:transparent url(../img/icons/move.png) no-repeat scroll 0 0px;
}
